* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 2vw;
}

header {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1ex;
    padding: 0 0 0.5vw 1vw;
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

header > *:first-child {
    margin-left: 0;
}

header > * {
    flex: 0;
    margin: 0 0.5vw;
}

header .message_text {
    flex: 1;
    padding-top: 0.5em;
    font-weight: normal;
    font-size: 50%;
}

a, a:visited {
    text-decoration: none;
    color: #00A;
}

a:hover {
    color: #00F;
}

footer {
    border-top: 1px solid gray;
    padding-top: 1em;
    font-size: 80%;
    color: gray;
    margin-top: 5em;
}

footer a {
    color: inherit;
}

.QuevedoLogo {
    width: 2em;
    height: 2em;
    vertical-align: middle;
    margin: 0 1ex 0.3ex 0;
}
