@import 'common.css';

header select {
    margin-left: 3em;
}

.message_text {
    flex: 1;
    padding-top: 0.5em;
    font-weight: normal;
    font-size: 50%;
}

h2 {
    display: inline-flex;
    margin-bottom: 1ex;
    align-items: center;
}

h2 > * {
    flex: 0;
    margin: 0 1vw;
}

.MeaningList, .SymbolList {
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.MeaningList ul {
    flex: 1;
    display: inline-block;
}

.MeaningList li {
    list-style-type: none;
    margin-bottom: 0.5ex;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.MeaningList li > * { margin: 0 0.5ex; }

.MeaningList input[type="text"] { flex: 1; }

.SymbolList div:nth-child(2) {
    flex: 1;
    display: inline-block;
}

.SymbolList table {
    width: 100%;
    border-collapse: collapse;
}

.SymbolList td {
    padding: 2px;
}

.SymbolEntry.editing {
    background-color: #aaf;
}

.SymbolEntry td:nth-child(1),
.SymbolEntry td:nth-last-child(1) {
    width: 0;
}

.SymbolEntry td:first-child{
    padding-left: 2vw;
}

.SymbolEntry input[type="text"] { width: 100%; }

.Annotation {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    overflow: hidden;
}

.Annotation img {
    max-width: 50vw;
    max-height: 40vw;
}

.BBox {
    display: block;
    position: absolute;
    pointer-events: none;
    border: 2px solid black;
}

.BBox.editing {
    outline: 100vw solid rgba(0,0,0,0.2);
}

pre {
    margin: 2em 0;
    padding: 1ex 0;
    border-top: 1px solid gray;
    color: gray;
}
