@import 'common.css';

pre {
    margin: 0 4vw 2ex 0;
}

body > h2 {
    margin-top: 1em;
}

.List {
    text-align: center;
    width: 100%;
    padding: 1em 3vw 1em 0;
    display: flex;
    flex-wrap: wrap;
}

.List .extra-space {
    border: none;
    flex: 1000 1000 0;
    list-style-type: none;
}

.Entry {
    list-style-type: none;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 4px 2px;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 300px) {
    .Entry { flex: 0 0 90vw; }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
    .Entry { flex: 1 0 30vw; }
}

@media screen and (min-width: 700px) {
    .Entry { flex: 1 0 200px; }
}

.Entry h2 {
    font-size: 1em;
    border-bottom: 1px solid gray;
}

.Entry .flag {
    margin-right: 1ex;
}

.Entry .set {
    font-weight: normal;
    font-style: italic;
}

.Entry a {
    font-size: 1.6em;
    text-decoration: none;
}

.Entry img {
    max-width: 100%;
    max-height: 70%;
    margin: auto;
}

.Entry > a {
    margin: auto;
    cursor: pointer;
}

.DirEntry a {
    font-size: 5vw;
    margin: auto;
}

.Filter .flag_icon {
    font-size: 1.2em;
}

.Filter label {
    margin-left: 1em;
}

.Filter input {
    margin-right: 1ex;
}
